<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GEPEMAC</title>

    <link rel="stylesheet" href="./../../public/styles/main.css">
    <link rel="stylesheet" href="./../../public/styles/partials/header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="../utils/menu.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Oswald:wght@700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

</head>
<body>
    <div id="menu">
        <div id="logo">
            <a href="/index.html">GEPEMAC</a>
        </div>
        <div class="options" id="options">
            <a href="/index.html" class="active">Destaques</a>
            <a href="/quem-somos.html">Quem somos?</a>
            <a href="/producoes.html">Produções</a>
            <a href="/videos.html">Vídeos</a>
            <a href="/referencias.html">Referências</a>
            <a href="/comissao.html" class="active">Comissão</a>
            <a href="/contato.html">Contato</a>
        </div>
        <a href="javascript:void(0);" class="icon" onclick="menu()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
    <div id="container">



    </div>
</body>
</html>