#container {
  text-align: center;
  margin-top: 1rem;
}
img {
  margin: 0 auto 1rem;
  width: 300px;
  height: 225px;
}

@media (min-width: 751px) {
  img {
    width: 480px;
    height: 360px;
  }

  .videos-row {
    display: flex;
  }

  .videos-row div {
    width: 100rem;
  }
}
